# Compiled Object files
*.slo
*.lo
*.o
*.swp

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

phpunit.phar
php/phpunit.phar
php/html
php/test.php

.buildpath
.project
.settings

